.background {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: rgba(60, 60, 60, 0.6);
}
.panel {
  position: fixed;
  background-color: #c6c6c6;
  inset: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 1rem 1rem;
  z-index: 100;
}
.panel-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.name {
  font-size: 2rem;
}
.description {
  max-width: 40ch;
  text-align: left;
}
.close-panel-btn {
  padding: 0.5rem 1rem;
  border: solid;
  border-width: 1px;
  transition: 0.25s;
}
.close-panel-btn:hover {
  background-color: #f9f9f9;
}
.panel img {
  align-self: center;
}
@media screen and (min-width: 664px) {
  .panel {
    inset: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .panel {
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 30vw;
  }
}
