.character-item {
  width: 100%;
  background-color: #c6c6c6;
  display: flex;
  border: solid #3c3c3c;
  cursor: pointer;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  margin-left: 1em;
  width: 100%;
  padding: 0.25em 0.5em;
}
.text-container > h3 {
  font-size: 1.5rem;
}
