.slider {
  height: 100vh;
  width: 100vw;
  background-color: #3c3c3c;
  z-index: 1;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .slider {
    position: static;
    background-color: inherit;
    right: 0px;
    transform: none;
    max-width: 30vw;
  }
  .openSlider,
  .closeSlider {
    display: none;
  }
  .active {
    transform: translateX(0);
  }
}
.active {
  transform: translateX(0);
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 32px;
  background-color: #c6c6c6;
  align-self: flex-end;
  border: solid;
  transition: 0.25s;
}
button:hover {
  background-color: #f9f9f9;
}
