.slider {
  height: 100vh;
  width: 100vw;
  background-color: #3c3c3c;
  z-index: 1;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .slider {
    position: static;
    background-color: inherit;
    right: 0px;
    transform: none;
    max-width: 30vw;
  }
  .openSlider,
  .closeSlider {
    display: none;
  }
  .active {
    transform: translateX(0);
  }
}
.active {
  transform: translateX(0);
}

button {
  border: none;
  font-size: 32px;
  background-color: transparent;
  align-self: flex-end;
}

.openSlider {
  background-color: #c6c6c6;
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 50px;
  margin-inline: 8px;
  margin-top: 8px;
  margin-bottom: 25px;
}

.closeSlider {
  background-color: #c6c6c6;
  padding-block: 6px;
  padding-inline: 15px;
  border-radius: 100%;
  margin-inline: 8px;
  margin-top: 8px;
  margin-bottom: 25px;
}
