.mount-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 12px;
  width: 100%;
  height: inherit;
  background-color: #3c3c3c;
  min-height: 100vh;
}
@media screen and (min-width: 640px) {
  .mount-wrapper {
    gap: 0.5rem;
    padding: 0px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .mount-wrapper {
    gap: 0.25rem;
    padding: 40px 64px;
  }
}
