.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: #3c3c3c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 1024px) {
  .App {
    flex-direction: row-reverse;
    align-items: start;
    background-color: #c6c6c6;
  }
}
